<h1>Medical Waste soft</h1>
<p>Aplikacija za praćenje pravilnog odlaganja medicinskog otpada. Ova strana je admin strana na kojoj se mogu videti mnoge CRUD operacije vezane za dati sistem.</p>

<h4>Administrator panel</h4>
<p>&nbsp;</p>
<h5>Medicinske organizacije</h5>
<p>Dodavanje nove medicinske ustanove</p>
<mat-form-field appearance="fill" style="margin-right: 20px;">
  <mat-label>Dodajte ime ustanove</mat-label>
  <input [(ngModel)]="nameMed" matInput placeholder="Npr. Kliniciki centar" >
</mat-form-field>
<mat-form-field appearance="fill" style="margin-right: 20px;">
  <mat-label>Mesto</mat-label>
  <input [(ngModel)]="locMed" matInput placeholder="Npr. Nis" >
</mat-form-field>
<button mat-raised-button color="primary" (click)="createMedOrg()">Kreiraj</button>

<p>Dodavanje zaposlenog u postojeću medicinsku organizaciju</p>
<mat-form-field appearance="fill" style="margin-right: 20px;">
  <mat-label>Medicinske organizacije</mat-label>
  <mat-select [(ngModel)]="selectedMed" name="sensor">
    <mat-option *ngFor="let med of medorgs" [value]="med.guid">
      {{med.name}} {{med.location}}
    </mat-option>
 </mat-select>
</mat-form-field>
<mat-form-field appearance="fill" style="margin-right: 20px;">
  <mat-label>Nepovezani korisnici</mat-label>
  <mat-select [(ngModel)]="selectedMedUser" name="sensor">
    <mat-option *ngFor="let user of users" [value]="user.username">
      {{user.firstname}} {{user.lastname}} ({{user.username}}) 
    </mat-option>
 </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="connectMedUser()">Konektuj</button>

<p>Prikaz medicinskih organizacija</p>
<div class="mat-elevation-z8" >
  <table style="width: 100%;" mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="med">
      <th mat-header-cell *matHeaderCellDef> Medicinska ustanova </th>
      <td mat-cell *matCellDef="let medorg"> {{medorg.name}} </td>
    </ng-container>

    <ng-container matColumnDef="loc">
      <th mat-header-cell *matHeaderCellDef> Lokacija </th>
      <td mat-cell *matCellDef="let medorg"> {{ medorg.location }} </td>
    </ng-container>

    <ng-container matColumnDef="del">
      <th mat-header-cell *matHeaderCellDef> Brisanje </th>
      <td mat-cell *matCellDef="let medorg"> <button
        mat-button
        color="warn"
        (click)="deleteMedOrg(medorg)"> Obrisi </button></td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<p>&nbsp;</p>
<h5>Kompanije za transport </h5>
<p>Dodavanje nove kompanije</p>
<mat-form-field appearance="fill" style="margin-right: 20px;">
  <mat-label>Dodajte ime kompanije</mat-label>
  <input [(ngModel)]="nameTrans" matInput placeholder="Ime kompanije" >
</mat-form-field>
<mat-form-field appearance="fill" style="margin-right: 20px;">
  <mat-label>Mesto</mat-label>
  <input [(ngModel)]="locTrans" matInput placeholder="Npr. Nis" >
</mat-form-field>
<button mat-raised-button color="primary" (click)="createTransOrg()">Kreiraj</button>

<p>Dodavanje zaposlenog u postojeću kompaniju</p>
<mat-form-field appearance="fill" style="margin-right: 20px;">
  <mat-label>Kompanije za transport</mat-label>
  <mat-select [(ngModel)]="selectedTrans" name="sensor">
    <mat-option *ngFor="let trans of transportorgs" [value]="trans.guid">
      {{trans.name}} {{trans.location}}
    </mat-option>
 </mat-select>
</mat-form-field>
<mat-form-field appearance="fill" style="margin-right: 20px;">
  <mat-label>Nepovezani korisnici</mat-label>
  <mat-select [(ngModel)]="selectedTransUser" name="sensor">
    <mat-option *ngFor="let user of users" [value]="user.username">
      {{user.firstname}} {{user.lastname}} ({{user.username}}) 
    </mat-option>
 </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="connectTransUser()">Konektuj</button>

<p>Prikaz transportnih kompanije</p>
<div class="mat-elevation-z8" >
  <table style="width: 100%;" mat-table [dataSource]="dataSource2">

    <ng-container matColumnDef="transportorg">
      <th mat-header-cell *matHeaderCellDef>Kompanija za transport </th>
      <td mat-cell *matCellDef="let trans"> {{trans.name}} </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef> Lokacija </th>
      <td mat-cell *matCellDef="let trans"> {{ trans.location }} </td>
    </ng-container>

    <ng-container matColumnDef="del">
      <th mat-header-cell *matHeaderCellDef> Brisanje </th>
      <td mat-cell *matCellDef="let trans"> <button
        mat-button
        color="warn"
        (click)="deleteTransOrg(trans)"> Obrisi </button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<p>&nbsp;</p>
<h5>Deponije </h5>
<p>Dodavanje nove deponije</p>
<mat-form-field appearance="fill" style="margin-right: 20px;">
  <mat-label>Dodajte ime deponije</mat-label>
  <input [(ngModel)]="nameLandfill" matInput placeholder="Npr. Gradska deponije" >
</mat-form-field>
<mat-form-field appearance="fill" style="margin-right: 20px;">
  <mat-label>Mesto</mat-label>
  <input [(ngModel)]="locLandfill" matInput placeholder="Npr. Bulvar Nikole Tesle, Nis" >
</mat-form-field>
<button mat-raised-button color="primary" (click)="createLandfillOrg()">Kreiraj</button>

<p>Dodavanje zaposlenog u postojeću deponiju</p>
<mat-form-field appearance="fill" style="margin-right: 20px;">
  <mat-label>Deponije</mat-label>
  <mat-select [(ngModel)]="selectedLandfill" name="sensor">
    <mat-option *ngFor="let land of landfillorgs" [value]="land.guid">
      {{land.name}} {{land.location}}
    </mat-option>
 </mat-select>
</mat-form-field>
<mat-form-field appearance="fill" style="margin-right: 20px;">
  <mat-label>Nepovezani korisnici</mat-label>
  <mat-select [(ngModel)]="selectedLandfillUser" name="sensor">
    <mat-option *ngFor="let user of users" [value]="user.username">
      {{user.firstname}} {{user.lastname}} ({{user.username}}) 
    </mat-option>
 </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="connectLandfillUser()">Konektuj</button>
<p>Prikaz deponija</p>
<div class="mat-elevation-z8" >
  <table style="width: 100%;" mat-table [dataSource]="dataSource3">

    <ng-container matColumnDef="landfillorg">
      <th mat-header-cell *matHeaderCellDef>Deponija </th>
      <td mat-cell *matCellDef="let land"> {{land.name}} </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef> Lokacija </th>
      <td mat-cell *matCellDef="let land"> {{ land.location }} </td>
    </ng-container>

    <ng-container matColumnDef="del">
      <th mat-header-cell *matHeaderCellDef> Brisanje </th>
      <td mat-cell *matCellDef="let land"> <button
        mat-button
        color="warn"
        (click)="deleteLandfillOrg(land)"> Obrisi </button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<p>&nbsp;</p>
