<h3>Dobrodošli, {{currentUser.firstname}}  {{currentUser.lastname}}. Vaša deponija je {{currentUser.orgname}} {{currentUser.orglocation}}.</h3>
<p>&nbsp;</p>

<p> U formi ispod unosite vrednost tezine paketa za koji ce biti kreirani podaci.</p>
<mat-form-field appearance="fill" style="display: inline-flexbox; width: 500px;">
    <mat-label>Izmerena tezina</mat-label>
    <input [(ngModel)]="weight" matInput placeholder="Npr. 12" >
</mat-form-field>
<mat-form-field appearance="fill" style="display:block; width: 500px;">
    <mat-label>Barcode preuzetog paketa</mat-label>
    <input [(ngModel)]="barcode" matInput placeholder="Npr. 3fa85f64-5717-4562-b3fc-2c963f66afa6" >
</mat-form-field>
<button mat-flat-button color="warn" (click)="store()" style="display: block; width: 220px;">Skladisti</button>